* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
a {
  color: beige;
}
.brand {
  color: navy;
  font-size: 40px;
}
body {
  background-color: gray;
  margin-top: 8px;
  padding: 8px;
}
main {
  border: 1px solid red;
  display: flex;
  gap: 8px;
}
h1 {
  color: chartreuse;
  background-color: black;
  font-size: 30px;
  display: flex;
  justify-content: center;
}
a {
  font-size: 15px;
}
p {
  color: brown;
  background-color: floralwhite;
  font-size: 20px;
}
blockquote {
  color: greenyellow;
  background-color: maroon;
  font-size: 20px;
}
figcaption {
  color: darkorange;
  background-color: black;
}
ul {
  display: flex;
  justify-content: left;
  flex-direction: column;
  border: thick solid green;
  color: white;
  background-color: blue;
  font-size: 30px;
  gap: 8px;
  list-style: none;
}
li {
  border: 1px solid red;
  margin: 0;
  padding: 0;
  display: flex;
}
article {
  display: flex;
  justify-content: right;
  flex-direction: column;
}
footer {
  color: lightyellow;
  background-color: darkblue;
  display: flex;
  justify-content: center;
  font-size: 20px;
}
